In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
import sys
import subprocess
pd.set_option('display.max_rows', 10)
!date

%load_ext autoreload
%autoreload 2
%cd data

Wed Jun 19 19:44:55 EDT 2019
[Errno 2] No such file or directory: 'data'
/media/Storage_2/Sam/data

In [44]:
df = pd.read_csv('per_1940_raw_fips_13-25.csv', sep=',', comment='#',nrows=1100)
iter_csv = pd.read_csv('per_1940_raw_fips_13-25.csv',sep=',', comment='#', iterator=True,  chunksize=100000)
df = pd.concat([chunk[chunk['STATEFIP'] == 25 ] for chunk in iter_csv])
df

,Unnamed: 0,SERIAL,AGE,HISPAN,RACE,STATEFIP,COUNTY,ENUMDIST,GQ
4521,4521,12853523,23,0,1,25,10,50,1
4522,4522,12853523,20,0,1,25,10,50,1
4523,4523,12853523,0,0,1,25,10,50,1
4524,4524,12855138,67,0,1,25,10,100,1
4525,4525,12855265,34,0,1,25,10,120,1
...,...,...,...,...,...,...,...,...,...
7453633,10784,14104823,67,0,1,25,270,2200,1
7453634,10785,14104917,53,0,1,25,270,2200,1
7453635,10786,14104917,51,0,1,25,270,2200,1
7453636,10787,14104917,21,0,1,25,270,2200,1
7453637,10788,14104917,16,0,1,25,270,2200,1

In [45]:
df['AGE']=df['AGE'].replace([i for i in range(17)], 17)
df['AGE']=df['AGE'].replace([i for i in range(18,200)], 18)
df.AGE.value_counts()

18    3152696
17    1172810
Name: AGE, dtype: int64

In [46]:
df['HISPAN']=df['HISPAN'].replace([1,2,3,4], 2)
df['HISPAN']=df['HISPAN'].replace([0], 1)

In [47]:
df.to_csv('MA/the_real_MA', sep='\t',columns=['AGE','HISPAN','RACE','STATEFIP','COUNTY','ENUMDIST','GQ'], header=['QAGE','CENHISP','CENRACE','TABBLKST','TABBLKCOU','ENUMDIST','RTYPE'])

#newdf=pd.read_csv('GA/the_real_GA', sep='\t', comment='#')
#newdf.CENRACE.value_counts()

In [39]:
!pwd

/media/Storage_2/Sam/data

In [43]:
#what is going on with GQ? This is for GA. when epsilon =8, we get 570 ish in GQ
df.GQ.value_counts()

1    3052091
4      23935
2      20736
6      18510
3      12860
Name: GQ, dtype: int64

In [48]:
#what is going on with GQ? This is for MA. when epsilon =8, we get 1150 ish in GQ
df.GQ.value_counts()

1    4151559
3      50457
4      47072
2      39480
6      36938
Name: GQ, dtype: int64